#header {
    background-color: rgb(233, 215, 215);

    .header_logo {
        width: 300p;
        height: 300px;
    }

    nav {
        height: 100px;
        background-color: rgba(230, 228, 228, 0.751);
        font-size: 1.3em;
        font-family: 'Courier New', Courier, monospace;
        display: flex;
        justify-content: center;

        a {
            color: rgb(50, 49, 48);
            margin: 30px;
        }

    }

}