.nombreDeUsuario {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    color: rgb(74, 74, 74);
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(230, 228, 228, 0.751);
    ;

    .cabecera {
        display: flex;
        flex-direction: row;
        margin-top: 10px;
        gap: 300px;
        margin-left: 550px;

        h1 {
            font-size: 40px;
            font-family: 'Times New Roman', Times, serif;
            text-align: center;
            color: rgb(251, 72, 72);
        }

        .logos_header {
            display: flex;
            flex-direction: row;
            margin-left: 50px;

            img {
                width: 30px;
                height: 30px;
                opacity: 0.6;
                margin-left: 20px;
                padding-right: 5px;

            }
        }

    }

    ul.nav.nav-underline li.nav-item a.nav-link {
        color: black;
        font-size: 1.2em;
        font-family: 'Times New Roman', Times, serif;
        padding: 20px;
        letter-spacing: 1px;
    }
}