$font-title: "Courier New", "Courier", "monospace";
$font-letra: "helvetica";
$font-color: #f8f8f8;
$back-color: #f8f8f8;
$box-color: #ffe0ff;
$box-borde: 15px;
$box-color-agregar: a7a7a7;
$box-sadow: inset 1px 1px 5px 0 rgba(20, 20, 20, 0.2);






//--------------------------BANNER-------------------------------

.banner {
    width: 100%;
    height: auto;
    margin-top: 30px;
    align-items: center;
}


//----------------------------SUBSCRIPCION------------------------
.seccion1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .subscribirse {
        width: 60%;
        height: 350px;
        background-color: #89004f;
        color: #f6e8f2;
        border-radius: 10px;
        margin: 60px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        p {
            font-size: 30px;
            text-transform: uppercase;
            text-decoration: underline;
        }

        #formulario {
            display: flex;
            justify-content: center;
            flex-direction: column;
            gap: 3px;
            width: 60%;
            justify-content: center;
            text-align: center;

            .enviarFormulario {
                border-radius: 20px;
                background-color: #f6e8f2;
                color: #89004f;
                font-size: 15px;
                text-transform: uppercase;
                text-decoration: solid;
                width: 35%;
                margin-left: 180px;
            }

        }
    }

    .consulta {
        display: flex;
        justify-content: center;
        gap: 30px;
        margin-top: 30px;
        align-items: center;

        details {
            width: 400px;
            height: 150px;
            background-color: #f7bde6;
            border-radius: 5px;
            text-align: center;
            font-family: 'Times New Roman', Times, serif;
            padding-top: 30px;
            font-size: 25px;
            text-decoration: wavy;
            color: #89004f;
            box-shadow: 3px 3px 5px 3px rgba(20, 20, 20, 0.2);
            display: flex;
            flex-direction: column;
            justify-content: center;

            .consultasMediosDePago {
                font-weight: normal;
                min-height: 1.2em;
                padding: 0px 2px 1px;
                display: flex;


            }
        }

    }
}

.compra {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    margin: 30px;

    .filtrar {
        #filtrarProductos {
            background-color: #89004f;
            width: 100px;
            color: #f9f4f8;
            border: #0f0109;

        }
    }


}


//---------------------------PRODUCTOS--------------------------------
.cuerpoProductos {
    display: grid;
    grid-template-columns: 85% 15%;
    grid-row: auto;
    grid-template-areas:
        "productos   carrito";

}

#contenedorProductos {
    grid-area: productos;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    .cardsProductos {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 400px;
        height: 480px;
        background-color: #f9f4f8;
        margin: 30px;
        padding: 30px;
        border-radius: 10px;
        box-shadow: $box-sadow;

        .cardsProductosImg {
            width: 300px;
            height: 300px;
            border-radius: 10px;
            margin-bottom: 15px;


        }

        .boton {
            background-color: #89004f;
            border-radius: 7px;
            border: #89004f;
            color: #f9f4f8;
            height: 30px;
            font-family: Arial, Helvetica, sans-serif;
            font-size: medium;
        }
    }

}

.carritoVisible {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 30px;
    grid-template-areas: carrito;

    #carrito-title {
        margin-right: 37px;
        text-align: center;
        font-size: 40px;
        font-weight: 300;
        text-decoration: underline;
        font-family: 'Times New Roman', Times, serif;
        color: #89004f;
    }

    #total {
        .card {
            margin-right: 30px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border: none;

            .titulosCarrito {
                text-decoration: underline;
            }

            .carritoImg {
                padding-top: 15px;
                width: 120px;
                height: 120px;

            }

            .carritoProducto {
                font-size: 17px;
            }

        }


    }

    #resultadoTotal {
        grid-template-areas: resultadoTotal;
    }
}




//------------------------------ENVIOS----------------------------------------
.envios {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
    margin-top: 100px;
    opacity: 0.6;

    .envios_empresa {
        border-right: 3px solid rgb(211, 206, 206);
        padding-right: 80px;


        .envios_foto {
            width: 100px;
            height: 100px;
        }

        .envios_texto {
            font-family: helvetica;
            font-size: 18px;
            letter-spacing: 1px;
            text-decoration: solid;
            text-align: center;

        }

    }

    .calcular_envio {
        width: 200px;
        height: 150px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        margin-left: 60px;
        margin-left: 60px;

        .envios_ubicacion {
            width: 100px;
            height: auto;
        }

        P {
            font-family: helvetica;
            font-size: 18px;
            letter-spacing: 1px;
            text-decoration: solid;
            text-align: center;

        }

    }

    .pagos {
        margin-left: 60px;
        border-left: 3px solid rgb(211, 206, 206);
        padding-left: 80px;
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
            width: 120px;
            height: 100px;
        }

        p {
            font-family: helvetica;
            font-size: 18px;
            letter-spacing: 1px;
            text-decoration: solid;
            text-align: center;
        }

    }
}


/*------------------------------------------PREGUNTAS FECUENTES--------------------*/
.preguntas_frecuentes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    margin: 100px;

    .preguntas_frecuentes_art {
        width: 330px;
        height: 250px;
        border-left: 6px solid #89004f;
        box-shadow: 0px 0px 10px 0px rgba(20, 20, 20, 0.2);
        /*background-color: #f6f0f0;
        box-shadow: inset 1px 1px 5px 0 rgba(20, 20, 20, 0.2);*/
        /*border-radius: 10px;*/
        text-align: center;
        padding: 25px;
        display: flex;
        flex-direction: column;
        gap: 15px;

        h2 {
            margin-top: 10px;
            color: #89004f;
            font-family: 'Times New Roman', Times, serif;
            text-decoration: underline;
            letter-spacing: 1.5px;

        }

        a {
            text-decoration: none;
            color: #89004f;
            font-family: 'Times New Roman', Times, serif;
            font-size: 18px;

            &:hover {
                text-decoration: underline;
            }
        }
    }

}

/*------------------------------------COMO COMPRAR---------------*/
#pasos_compra {
    display: flex;
    justify-content: center;

    .como_comprar {
        width: 70%;
        height: 600px;
        margin-top: 150px;
        margin-bottom: 150px;
        background-color: #f6f0f0;
        box-shadow: $box-sadow;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        padding: 25px;


        h2 {
            text-align: center;
            color: #89004f;
            font-family: 'Times New Roman', Times, serif;
            font-size: 40px;
            margin-bottom: 30px;
            text-decoration: underline;
            letter-spacing: 1px;
        }

        ol {
            margin-left: 30px;
            color: #89004f;
            font-family: 'Times New Roman', Times, serif;
            font-size: 18px;
        }
    }

}